.gitignore
RtspServerTmp
xReference
RtspServer3/RtspApp/build
RtspServer3/RtspApp/gst-build-arm64-v8a
RtspServer3/RtspApp/gst-build-armeabi-v7a
RtspServer3/RtspApp/gst-build-x86
RtspServer3/RtspApp/gst-build-x86_64
RtspServer3/RtspApp/build/
RtspServer3/.gradle/
RtspServer3/java_pid*
RtspServer3/.idea/
